.list {
    padding: 15px;
}

.list__items {
    /* list-style: none; */
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(174, 167, 167);
    padding: 10px;
}

.list__text--done {
    text-decoration: line-through;
}

.list__button--remove {
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.list__button--done {
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;

}

