html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgba(234, 233, 233, 0.941);
    font-family: 'Montserrat', sans-serif;
    word-break: break-word;
}

.header {
    padding: 10px;
    margin: 20px;
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}
